<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/c.png' %}"/>

    <title>ChillFood</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <script src="{% static 'js/token.js' %}"></script>

  {% block scripts %}
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'logout' %}"><i class="material-icons left">power_settings_new</i>Sign Out</a></li>                    
    </ul>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue">

          <a class="brand-logo" href="{% url 'index' %}">
            <img alt="ChillFood" src="{% static 'images/ChillFood-white.png' %}" class="logo">
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/app/#/recipe/create">                
                <i class="material-icons">add</i>
              </a>
            </li>

            <li>
              <a class="name dropdown-button white-text right-align" href="#!" data-activates="dropdown1">
                {% if user.photo %}
                  <img class="left user_photo z-depth-1" src="{% url 'user_photo' user.id %}">
                {% endif %}
                {{ user.name }}
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>


        </div>
      </nav>
    </div>
    {% if not user.is_confirmed %} 
      <div class="row">
        <div class="col s12 red center white-text z-depth-1">Please, confirm your email address.</div>  
      </div>    
    {% endif %}
    {% block content %}
    {% endblock %}

  </body>
</html>