{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock %}
{% block content %}
      <div>
        <div className="navbar-fixed">
          <nav>
            <div class="nav-wrapper blue">
              <a class="brand-logo" href="/">
                <img alt="ChillFood" src="{% static '/images/ChillFood-white.png' %}" class="logo"/>
              </a>
            </div> 
          </nav>           
        </div>    
      </div>
	<div><span>Congratulations your account has been activated. Click </span> <a href={% url 'login' %}>here</a> to continue </div>
{% endblock %}