{% extends 'base_no_auth.html' %}

{% load static %}

{% block content %}
  
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img alt="ChillFood" src="{% static 'images/ChillFood.png' %}">
      
      
      <div class="errors">
        {% if error %}
          <p>{{error}}</p>
        {% endif %}        
      </div>
      
      {% include "form.html" %}
      <div class="forgot-passord right-align">
        <a href="/forgot_password">Forgot Password?</a>    
      </div>
      <div class="row">
        <a class="left btn btn-flat waves-effect waves-blue" href="{% url 'register' %}">
          Register
        </a>
        <button class="right btn btn-warning waves-effect blue" type="submit">
          Sign in
        </button>       
      </div>  
      <div class="row center"> 
        <h6>Sign in using:</h6>
        <a  class="btn btn-flat waves-effect waves-blue" 
            href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            <img class="right social-icon" src="{% static 'images/facebook.svg' %}" />
        </a>
        <a class="btn btn-flat waves-effect waves-blue" 
            href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
          <img class="right social-icon" src="{% static 'images/google-plus.svg' %}" />
        </a>
        <a class="btn btn-flat waves-effect waves-blue" 
           href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
          <img class="right social-icon" src="{% static 'images/twitter.svg' %}" />
        </a>
      </div>

    </form>
    
{% endblock %}