{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-less">


      <div class="row">
        <div class="m12">
              <img class="user_photo big left z-depth-1 frame" src="{% url 'profile_image' profile.id %}">
          <h1>
            {{ profile.name }}
          </h1>    
          {% if profile.bio %}
          <div class="chip">
            <i class="material-icons">perm_identity</i>
            {{profile.bio}} 
          </div>
          {% endif %}
        </div>   
      </div> 
      
      {% include 'p_recipes.html' %}
  </div>
  <script type="text/javascript">
    var userId = {{profile.id}}

    $(function () {
        console.log('a',userId);
        //Do a initial load of the recipes
        load_posts(null,userId);
    });
  </script>

{% endblock %}

