<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load static %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet">
  <link href="{% static 'css/recipe_detail.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="chill">ChillFood.com</div>

    </nav> 
    <div class="container">
        <div class="col-sm-9">
          <img height="300" width="300" src="{% url 'recipe_image' recipe.id %}" alt="recipe pic">

          <div class="row title">{{recipe.title}}</div>
          <div class="row cook"> By {{recipe.cook.name}}</div>
          <div class="row row-padding">
            <span>
              <img height="15" width="15" src="{% static 'images/clock-icon.png' %}" alt="clock">
              <span>{{recipe.time}} min</span>
            </span>
            <span class="calories-padding-left">
              <img height="15" width="15" src="{% static 'images/calories-icon.png' %}" alt="clock">
              <span>{{recipe.calories}}</span>
            </span>
          </div>
          <div class="row row-padding">
            <span>Category:</span>
            {% for category in recipe.categories %}
              <span class="grey-box">{{category.name}}</span>
            {% endfor %}
            {% if recipe.equipment %}
              <span class="appliances-padding-left">Appliances:</span>
              {% for appliance in recipe.equipment %}
                <span class="grey-box">{{appliance.name}}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="heading row row-padding">Ingredients</div>
          <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ingredient.display}}</li>
            {% endfor %}
          </ul>
          <div class="heading row row-padding">Steps</div>
          {% for step in recipe.steps %}
          <div class="row row-padding">
            <div class="step-padding sub-heading">Step {{step.step_number}} </div>
            <span class="col-sm-3">
                <img height="100" width="100" src="{% url 'step_image' step.id %}" alt="step pic">
            </span>
            <span class="col-sm-6">
              {{step.instruction}}
            </span>
          </div>
            {% endfor %}
        </div>
      </div>
  </body>
</html>
