<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load static %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet">
  <link href="{% static 'css/recipe_detail.css' %}" rel="stylesheet">
  </head>
  <body class="bg-gray">
    <nav class="navbar navbar-static-top bg-blue">
    <div class="chill">ChillFood.com</div>

    </nav> 
    <div>
      <span class="col-sm-6 bg-white">
          <div>
            <img class="recipe-image" height="400" width="400" src="{% url 'recipe_image' recipe.id %}" alt="recipe pic">

            <div class="title">
              <span>{{recipe.title}}</span>
            </div>
            <div class="cook"> By {{recipe.cook.name}}</div>
            <button class="bookmark">Bookmark</button>

            <div class="row-padding">
              <span>
                <img height="15" width="15" src="{% static 'images/clock-icon.png' %}" alt="clock">
                <span>{{recipe.time}} min</span>
              </span>
              <span class="calories-padding-left">
                <img height="15" width="15" src="{% static 'images/calories-icon.png' %}" alt="clock">
                <span>{{recipe.calories}}</span>
              </span>
            </div>
            <div class="row-padding">
              <span>Category:</span>
              {% for category in recipe.categories %}
                <span class="blue-box">{{category.name}}</span>
              {% endfor %}
              {% if recipe.equipment %}
                <span class="appliances-padding-left">Appliances:</span>
                {% for appliance in recipe.equipment %}
                  <span class="blue-box">{{appliance.name}}</span>
                {% endfor %}
              {% endif %}
            </div>
            <div class="row-padding">
              <div class="heading">Ingredients</div>
              <ul>
                {% for ingredient in recipe.ingredients %}
                <li>{{ingredient.display}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="heading row-padding">Steps</div>
            {% for step in recipe.steps %}
            <div class="row-padding">
              <div class="step-padding sub-heading">Step {{step.step_number}} </div>
              {% if step.picture.name %}
              <span>
                  <img height="100" width="100" src="{% url 'step_image' step.id %}" alt="step pic">
              </span>
              {% endif %}
              <div class="instruction">
                {{step.instruction}}
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </span>
  </body>
</html>
