.calories-padding-left {
	padding-left: 100px
}

.appliances-padding-left {
	padding-left: 50px
}

.blue-box {
	background-color: #b6ecfe;;
	padding: 1px 5px;
}

.row-padding {
	padding: 3px 0px;
}

.step-padding {
	padding: 5px 0px; 
}

.recipe-image {
	margin-left: 100px;
}

.main {
	margin-left: 300px;
	margin-right: 400px;
}

.instruction {
	padding: 5px 15px;
}

.bookmark {
	background-color: lightblue;
}

.column-left {
	width: 50%;
	float: left;
	margin-left: 15%;
}

.vertical {
	vertical-align: top;
}

.profile-pic {
	height: 60px;
	width: 70px;
	padding-right: 10px;
}

.verticalListItem  {
    border: 1px solid #333;
    display: block;
    overflow: hidden
}

.date-time {
	color: gray;
	margin-left: 10px;
}

.margin {
	margin-top: 50px;
}

.comments-title {
	font-size: 45px;
}

.submit {
	margin-top: 20px;
}

.star {
	font-size: 20px;
}

.tasty {
	margin-left: 100px;
}

.profile-name {
	font-weight: bold;
}

.glyphicon {
	font-size: 25px;
	color: gold;
}