/*body {
	background-image: url('../img/sea.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    /*background-repeat: no-repeat;*/
	/*background-size: cover;	*/
	/*min-height: 100%;* /
}*/

.form-signin {
    max-width: 430px;
    padding: 15px;
    padding-top: 0px;
    margin: 0 auto;
}

.form-signin  img {
	width: 100%;
}

.center-form {
    max-width: 430px;
    margin: 0 auto;
}

nav .logo {
	height: 70px;
	/*margin-top: -18px;		*/
}


nav .name {
	min-width: 200px;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: .8;
}

.errors {
	color: red;
}

a {
	text-decoration: none!important;
}

div .material-icons {
	vertical-align: middle;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px lightgray inset;
}

nav .user_photo {
	border-radius: 0px 8px;
	margin-top:8px; 
	margin-right: 5px; 
	max-width: 80px;
	max-height: 50px;
}

.user_photo.big {
	max-width: 150px;
	max-height: 150px;
}

.user_photo.small {
	max-width: 100%;		
}

.user_photo.frame {
	margin: 10px;
}

.fixed-action-btn.top {
	right: 320px;
    top: 155px;
    color: orange!important;
}

.fixed-action-btn.top > a > i {
	right: 320px;
    top: 155px;
    color: orange!important;
}

/*input[type="file"] + label {
    display: block;
    margin-top: -40px; 
}*/

.hidden {
	display: none!important;
}

html {
    overflow-y:scroll;
}

.container-less {
    max-width: 80%;
    margin: 0 auto;
}

#post_title.card-title {
    /*background-color: rgba(33,150,243,0.7);*/
    /*width: 100%;*/
}

div.card-image {    
    height: 200px;
    position: relative;
    overflow: hidden;
}

div.card-image  img {        
    position:absolute; 
    top:0; 
    bottom:0; 
    margin: auto;
    width:100%;
}

.list-item div > div.card-content {
    padding: 0px 20px;
}

.list-item div > div.card-content .row {
    /*margin-bottom: 0px;*/
}

/* List */
.list {
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}

.list-item {
  display: flex; 
  padding: 0.5em;
}

.list-content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   width: 100%;
}
.list-content .card-content {
  flex: 1 0 auto;
}

.padding {
  padding-top: 20px;
}

.profile-text {
  font-size: 30px;
}

.card-footer > .row {
  padding-left: 10px;
  padding-right: 10px;
}

.below {
  /*position: fixed;*/
  line-height: 10px;
  padding-top: 0px;
}

.slim {
  position: fixed;
  top: 64px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 20px;
  z-index: 20!important;
}

.option {
  line-height: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.options {
  padding: 10px;
  width: 100px; 
}

#slide-out {
  z-index:0!important;
}

.side-nav {
  padding-top: 90px;
  box-shadow: none!important;
}
.container.recipes {
  margin-left: 420px;
}

.switch label {
  font-size:15px!important;
}



span.badge.new:after {
    content: " "!important;
}